body {
  background-color: #ADD7FF;
  margin: 0;
  text-align: center;
}

h1 {
  color: #F3F00A;
  font-size: 2.5em;
}

h2 {
  color: blue;
  font-size: 2em;
}

p {
  color: blue;
  font-size: 1.5em;
}

label {
  font-size: 1.5em;
}

ul {
  text-align: left;
  font-size: 2.5em;
  line-height: 2;
}

a {
  text-decoration: none;
}

video {
  width: 90%;
  margin: auto;
}

textarea, input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 400px;
    margin: 10px auto;
    font-size: 1.5em;
}

.logo-container {
  width: 40em;
  margin: auto;
}

.logo-img {
  width: 20em;
  float: left;
}

.logo-text {
  width: 20em;
}

.butn {
  background: #3498db;
  border: none;
  border-radius: 2em;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 2.5em;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  width: 15em;
  margin: 20px auto;
}

.butn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.butnsmall {
  background: #3498db;
  border: none;
  border-radius: 1.5em;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 1.5em;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  width: 5em;
  margin: 20px auto;
}

.top-container {
}

.middle-container {
  width: 75%;
  margin: 3em auto;
}

.menu-container {
  margin: 3em auto;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.page-container {
  background-color: white;
}

.page-container h1{
  color: red;
  font-size: 3em;
}

.bottom-container {
  background-color: #ADD7FF;
  height: 10em;
}

.icon-img {
  width: 5em;
  margin: 20px auto 0;
}

.icon-text {
  font-size: 1.5em;
  color: white;
}

.icon-left {
  position: absolute;
  left: 5em;
}

.icon-right {
  position: absolute;
  right: 5em;
}

.icon-center {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px; /* Need a specific value to work */
}
